<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1009235059292-3c2ulk20vsu513egbs3hmqnldoqmm0g3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1009235059292-3c2ulk20vsu513egbs3hmqnldoqmm0g3</string>
	<key>API_KEY</key>
	<string>AIzaSyCqA00_bnTjO2Vdpajb_UBaxSAnAy7LMo8</string>
	<key>GCM_SENDER_ID</key>
	<string>1009235059292</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.flutter.flutter.app</string>
	<key>PROJECT_ID</key>
	<string>todo-657bf</string>
	<key>STORAGE_BUCKET</key>
	<string>todo-657bf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1009235059292:ios:d9819c4ce8330e90fd3c99</string>
	<key>DATABASE_URL</key>
	<string>https://todo-657bf.firebaseio.com</string>
</dict>
</plist>